h1
{
 text-align:center;



}

.button1 {
  width: 150px;
  height: 60px;
  background: #ff3333;
  margin-left:45%;

  animation-name: Employee;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  border-radius:45%;
}

.button2 {
  width: 150px;
  height: 60px;
  background: #ff3333;
  margin-top:20%;
  float:left;

  animation-name:Vendor;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  border-radius:45%;
}

.button3 {
  width: 150px;
  height: 60px;
  background: #ff3333;

  margin-top:20%;
  float:right;
  animation-name: Guest;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  border-radius:45%;
}
@keyframes Employee {
  from {margin-left:45%;}
  to {margin-top: 3%; background-color: #ff4d94;}
}


@keyframes Vendor {
  from {margin-top:10%;}
  to {margin-left: 400px; background-color: #ff4d94;}

}

@keyframes Guest {
  from {margin-top:10%;}
  to {margin-right: 400px; background-color: #ff4d94;}
}
