body {
  background: url("jpg_css_files/welcomepage.jpg") no-repeat fixed center;
  background-size:cover;

}
h1
    {

    text-align:center;

 }
 h2{

    text-align:center;
 }

.juice_world
{
float:left;

}

.madras_coffee
{
float:right;


}