body {
  background: url("welcomepage.jpg") no-repeat fixed center;
  background-size:cover;

}
h1
    {

    text-align:center;

 }
 h2{

    text-align:center;
 }


.button1 {
  background-color: white;
  float:left;
  margin-left:25%;
  width:10%;
  height:30px;

}

.button1:hover {
  background-color: silver;
  float:left;
  margin-left:25%;
  width:10%;
    height:30px;



}
.button2 {
  background-color: white;
  width:10%;
  float:right;
  margin-right:25%;
    height:30px;
}

.button2:hover {
  background-color: silver;
  float:right;
  margin-right:25%;
  width:10%;
    height:30px;


}
