body {
  background: url("../assets/images/juice_background.jpg") no-repeat fixed center;
}
h1
{
text-align:center;
}

.button1
{
margin-left:25%;
height:25px;
}

.align_using_flex {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  min-width: 50px;
  }

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.button1 {

  padding: 17px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  margin-left:200px;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: dodgerblue;
  border: none;
  border-radius: 45%;
  box-shadow: 0 5px #999;
}

.button1:hover {background-color: #26a8ff}

.button1:active {
  background-color: #26a8ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
