h1{
text-align:center;
color: #ff0000;
}

* {
  box-sizing: border-box;
}


.column {

  width:27%;
  height: 20%;
  padding: 0px;
  border: 1px solid #ddd;
  margin:20px;
}

.row {
 display:flex;
 flex-wrap: wrap;
 flex-direction: row;
 background-color: #fff0ff;
 border: 5px solid red;
 width:70%;
 background: url("../assets/images/pale_pink_background.jpg") no-repeat fixed center;
  background-size:cover;
 float:left;
 box-sizing:border-box;
  }

  figcaption
  {
  color:#3385ff;
  }


  .cart{
  float:right;
  border: 5px solid red;
  width:30%;
  box-sizing:border-box;
  }