<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/welcome_page.css">

</head>
<body>
<img src="../static/assets/images/refreshment.jpg/" alt="welcome_photo" width="900" height="440" style="margin-left:auto;margin-right:auto;display:block;"                                            >
<h1>WELCOME</h1>

<h2>HAVE A REFRESHMENT!</h2>

<form action="/who_am_i_for_juice_world">
<div class="juice_world">
    <input type = "image" src="../static/assets/images/juice_icon.jpg" alt="coffee" style="width:100px; margin-left:390px; margin-top:10px;height:110px;border-radius:50%; ">
</div>
</form>

<form action="/who_am_i_for_madras_coffee">
<div class="madras_coffee">
    <input type = "image"   src="../static/assets/images/coffee_icon.jpg" alt="juice" style="width:100px; margin-right:390px;; margin-top:10px; height:110px; border-radius:50%;">
</div>
</form>

</body>
</html>