<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/welcome_page.css">

</head>
<body>

<img src="jpg_html_files/refreshment.jpg/" alt="welcome_photo" width="900" height="440" style="margin-left:auto;margin-right:auto;display:block;"                                            >
<h1>WELCOME</h1>
<h2>HAVE A REFRESHMENT!</h2>

<div class="juice_world">
<form action="juice_world_who_am_i.html">
    <input type = "image" src="jpg_html_files/juice_icon.jpg" alt="coffee" style="width:100px; margin-left:390px; margin-top:10px;height:110px;border-radius:50%; ">
</form>
</div>

<div class="madras_coffee">
<form action="juice_world_who_am_i.html">
    <input type = "image"   src="jpg_html_files/coffee_icon.jpg" alt="juice" style="width:100px; margin-right:390px;; margin-top:10px; height:110px; border-radius:50%;">
</form>
</div>






</body>
</html>