<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/who_am_i.css">
</head>
<body>
<h1 style="color:#4d4dff;">WHO AM I </h1>
<form action="/employee_login_page_madras_coffee">
    <p><button class="button1" onmouseover="style.color='white'" onmouseout="style.color='black'" style="font-size:18px;">Employee</button></p>
</form>

<form action="/vendor_page_madras_coffee">
    <p><button class="button2" onmouseover="style.color='white'" onmouseout="style.color='black'" style="font-size:18px;">Vendor</button></p>
</form>

<form action="/guest_login_madras_coffee">
    <p><button class="button3" onmouseover="style.color='white'" onmouseout="style.color='black'" style="font-size:18px;">Guest</button></p>
</form>



</body>
</html>